.idea/*
__pycache__*
4. Convolutional Neural Networks/Week3 Object Detection/yad2k/model_data/yolo.h5
4. Convolutional Neural Networks/Week3 Object Detection/yad2k/yolo.weights
4. Convolutional Neural Networks/Week4 Special applications： Face recognition and Neural style transfer/pretrained-model/*